.hospedagem-card {
  width: 15rem;
  height: fit-content;
  background-color: rgba(190, 190, 190, 0.5);
  backdrop-filter: blur(10px);
  border-radius: .3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
}


.hospedagem-name{
  font-size: .8rem;
  color: #003e5b;
  font-weight: bold;
  background-color: rgba(79, 123, 255, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 1rem;
  padding:  0.2rem;
  width: fit-content;
}

.room-infos {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  font-size: .8rem;
  color: #000;
  font-weight: 600;
  margin-left: .3rem;
}

