.formulario-estadia {
  background-color: rgba(0, 0, 0, .5);
  width: 35%;
  height: fit-content;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 1rem .5rem;
  gap: .5rem;
}

.formulario-estadia > h2 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  align-self: self-start;
  margin-left: 1rem;
  font-weight: bold;
}

.formulario-estadia-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.estadia-input {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  width: 90%;
  align-items: center;
}

.estadia-infos {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  align-items: center;
}

.estadia-input > label {
  font-weight: bold;
  font-size: .9rem;
  color: #fff;
  align-self: flex-start;
}

.estadia-input > input, .estadia-input > input[type="date"] {
  background-color: transparent;
  border: 1.5px solid rgba(0, 0, 0, .8);
  height: 2.5rem;
  width: 100%;
  border-radius: .2rem;
  padding: .25rem;
  color: #fff;
  font-weight: bold;
}

.estadia-input > input:focus {
  outline: none;
}

.estadia-select {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  width: 90%;
}

.estadia-select > label {
  font-weight: bold;
  font-size: .9rem;
  color: #fff;
  align-self: flex-start;
}

.estadia-select > select {
  background-color: transparent;
  border: 1.5px solid rgba(0, 0, 0, .8);
  height: 2.5rem;
  width: 100%;
  border-radius: .2rem;
  padding: .25rem;
  color: #fff;
  font-weight: bold;
}

.estadia-select > select:focus {
  outline: none;
}

.estadia-select > select option {
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  font-weight: bold;
}

.estadia-button {
  width: fit-content;
  padding: .5rem;
  background-color: rgba(0, 110, 255, 0.525) ;
  color: rgba(0, 31, 72, 0.925);
  font-weight: bold;
  border-radius: .2rem;
  transition: .3s;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 1rem;
  
  &:hover {
    background-color: rgba(0, 33, 76, 0.825) ;
    color: rgba(0, 110, 255, 0.525);
  }
}