.formulario-edicao {
  background-color: rgba(0, 0, 0, .5);
  width: 50%;
  height: fit-content;
  max-height: 35rem;
  overflow-y: auto;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem .5rem;
  gap: .5rem;
}

.formulario-edicao::-webkit-scrollbar {
  width: 5px;
}

.formulario-edicao::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .5);
  border-radius: .5rem;
}

.formulario-edicao::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .8);
  border-radius: .5rem;
}

.formulario-edicao > h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  align-self: self-start;
  margin-left: 1rem;
  font-weight: bold;
}

.formulario-edicao-body {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center ;
  justify-content: center;
  gap: 1rem;
}

.edicao-input{
  display: flex;
  flex-direction: column;
  gap: .25rem;
  width: 45%;
}

.edicao-input > label, .edicao-input-dependent > label {
  font-weight: bold;
  font-size: .9rem;
  color: #fff;
  align-self: flex-start;
}

.edicao-input > input, .edicao-input > input[type="date"], .edicao-add-dependent > input {
  background-color: transparent;
  border: 1.5px solid rgba(0, 0, 0, .8);
  height: 2.5rem;
  width: 100%;
  border-radius: .2rem;
  padding: .25rem;
  color: #fff;
  font-weight: bold;
}
 
.edicao-input > input:focus, .edicao-add-dependent > input:focus {
  outline: none;
}


.edicao-input > select {
  background-color: transparent;
  border: 1.5px solid rgba(0, 0, 0, .8);
  height: 2.5rem;
  width: 100%;
  border-radius: .2rem;
  padding: .25rem;
  color: #fff;
  font-weight: bold;
}

.edicao-input > select:focus {
  outline: none;
}

.edicao-input > select option {
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  font-weight: bold;
}

.edicao-input-dependent {
  width: 92%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: .5rem;
}

.edicao-add-dependent {
  display: flex;
  gap: .5rem;
  align-items: center;
  width: 100%;
}

.edicao-add-dependent > button {
  background-color: rgba(0, 110, 255, 0.525);
  padding: .5rem;
  border-radius: .2rem;
  font-weight: bold;
  color: rgba(0, 31, 72, 0.925);
  transition: .2s;

  &:hover {
    background-color: rgba(0, 33, 76, 0.825) ;
    color: rgba(0, 110, 255, 0.525);
  }
}

.edicao-dependents-list {
  height: 6rem;
  width: 100%;
  border: .5px solid rgba(0, 0, 0, .8);
  border-radius: .5rem;
  padding: .5rem;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  gap: .5rem;
}

.edicao-dependents-list::-webkit-scrollbar {
  width: 5px;
}

.edicao-dependents-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .5);
  border-radius: .5rem;
}

.edicao-dependents-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .8);
  border-radius: .5rem;
}

.edit-dependent-card {
  display: flex;
  border: 2px solid rgba(0, 0, 0, .5);
  color: #fff;
  width: fit-content;
  padding: .5rem;
  gap: .5rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

.edit-dependent-card > button {
  font-size: .7rem;
  font-weight: bold;
  background-color: rgba(255, 67, 67, .8);
  padding: .5rem .8rem;
  border-radius: 2rem;
}

.edicao-button {
  width: fit-content;
  padding: .5rem;
  background-color: rgba(0, 110, 255, 0.525) ;
  color: rgba(0, 31, 72, 0.925);
  font-weight: bold;
  border-radius: .2rem;
  transition: .3s;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 1rem;
  
  &:hover {
    background-color: rgba(0, 33, 76, 0.825) ;
    color: rgba(0, 110, 255, 0.525);
  }
}