.cliente-card {
  background-color: rgba(25, 44, 59, 0.5);
  width: 30rem;
  height: fit-content;
  border-radius: .3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 1rem;
}

.client-infos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: .5rem;
}

.client-basic-infos {
  display: flex;
  gap: .5rem;
  width: 60%;
  justify-content: start;
}

.client-basic-infos > span {
  height: 1.5rem;
  width: .09rem;
  border-radius: .5rem;
  background-color: #fff;
}

.client-address {
  width: 90%;
  font-size: .9rem;
}

.client-other-infos {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  width: 100%;
}

.client-dependents {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: .1rem;
  min-height: 5rem;
  max-height: 5rem;
  overflow-y: auto;
  gap: .3rem;
  border-radius: .3rem;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
  background-color: #fff;
  color: #000;
}

.client-dependents::-webkit-scrollbar {
  width: .2rem;
}

.client-dependents::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: .1rem;
}



.client-name {
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: fit-content;
  padding: .3rem;
  display: flex;
  align-items: center;
  border-radius: 4rem;
}

.client-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.edit-client-button {
  padding: .5rem 1rem;
  background-color: rgba(0, 201, 57, .6);
  color: #00e322;
  font-weight: bold;
  border-radius: .4rem;
  transition: .15s;

  &:hover {
    background-color: rgba(0, 151, 43, 0.8);
  }
}

.delete-button {
  padding: .5rem 1rem;
  background-color: rgba(136, 0, 0, 0.6);
  color: #e32222;
  font-weight: bold;
  border-radius: .4rem;
  transition: .15s;

  &:hover {
    background-color: rgba(217, 0, 0, 0.8);
  }
}