@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  /* height: 100dvh; */
}

body {
  width: 100%;
  min-height: 100dvh;
}

.customize-scroll::-webkit-scrollbar {
  width: 5px;
}

.customize-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 34, 102, 0.53);
  border-radius: .5rem;
}

.customize-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(68, 129, 253);
  border-radius: .5rem;
}